.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.error-message {
  color: red;
  font-weight: bold;
  min-height: 200px;
}

.country-item {
  text-decoration: none;
}
